@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import './mixin';

:root {
  --font-family: "Quicksand", sans-serif;
  --primary-color: #10b981;
  --yellow-color: #fbbf24;
  --blue-color: #3b82f6;
  --white-color: #fff;
  --black-color: #000;
  --red-color: #d90429;
  --border-radius: .75rem;
  --border-image: 2px solid #e7e7e7;
  --width-table: 102.3rem;
  --width-mobile: 76.8rem;
  --box-shadow-nav: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --text-shadow: 2px 2px rgba(0, 0, 0, 0.502);
  --padding-desktops: 64px;
  --padding-table: 24px;
  --padding-mobile: 16px;
  --width-comic-desktops: 12.5%;
  --width-comic-table: 16.66667%;
  --width-comic-mobile: 50%;
  --width-chapter-desktops: calc(10% - 11px);
  --width-chapter-table: calc(16.66667% - 10px);
  --width-chapter-mobile: calc(25% - 9px);
  --pos-desktops: 64px;
  --pos-table: 24px;
  --pos-mobile: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: #ccc;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeSpeed;

  @media (max-width: 768px) {
    -webkit-tap-highlight-color: transparent;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
    border: none;
    user-select: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

figure {
    border: var(--border-image)
}