@import "../../components/GlobalStyles/mixin";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  .title {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    h4 {
      font-size: 3rem;
    }

    p {
        text-align: center;
        i {
            margin: 0 8px;
        }
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 8px;

      button {
        padding: 8px 16px;
        @include outlineBtn(var(--primary-color));
        font-size: 1.8rem;
        min-width: 120px;
      }

      button.disabled {
        opacity: 0.5;
        cursor: no-drop;
        pointer-events: none;
      }

      .prev {
        border-radius: 999px 0 0 999px;

        i {
          margin-right: 12px;
        }
      }

      .next {
        border-radius: 0 999px 999px 0;

        i {
          margin-left: 12px;
        }
      }
    }
  }

  .images {
    display: flex;
    flex-direction: column;

    li {
      width: 800px;
      height: 100%;
      border: 1px solid #ccc;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .tools {
    position: fixed;
    height: 100px;
    min-width: 145px;
    right: var(--pos-desktops);
    bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 768px) {
        top: unset;
        bottom: var(--pos-mobile);
        right: var(--pos-mobile);
    }

    button {
      padding: 8px;
      font-size: 1.8rem;
      @include borderBtn(var(--primary-color));

      i {
        margin-right: 8px;
      }      

      @media (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    .auto-scroll {
      position: relative;
      transition: 0.3s;

      &:hover::after {
        opacity: 1;
      }

      &::after {
        content: "Tự động cuộn sau 6 giây";
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: calc(100% + 12px);
        white-space: nowrap;
        left: 0;
        background-color: #3f3f3f;
        border-radius: var(--border-radius);
        color: var(--white-color);
        padding: 4px 8px;
        transition: 0.3s;
        font-size: 1.6rem;

        @media (max-width: 768px) {
            display: none;
        }
      }
    }

    button.active {
      color: var(--white-color);
      background-color: var(--primary-color);
    }
  }
}
