@import '../../../GlobalStyles/mixin';

.wrapper {
  margin-top: 32px;

  .title {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 3rem;
      margin-right: 12px;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    .categorys {
      display: flex;
      align-items: center;
      gap: 12px;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      li {
        @include borderBtn(var(--primary-color));
        padding: 2px 4px;
        height: 30px;
        font-weight: 600;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
      }

      li.active {
        color: var(--white-color);
        outline-color: var(--primary-color);
        background-color: var(--primary-color);
      }
    }
  }
}
