.wrapper {
  .top {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    figure {
      width: 300px;
      height: 400px;
      overflow: hidden;
      flex-shrink: 0;
      border-radius: var(--border-radius);

      @media (max-width: 768px) {
        width: 100%;
        height: 500px;
      }
    }

    .info {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-left: 32px;

      @media (max-width: 768px) {
        padding-left: unset;
        overflow: unset;
      }

      h4 {
        font-size: 3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media (max-width: 768px) {
            font-size: 2.4rem;
            overflow: unset;
            white-space: unset;
            text-overflow: unset;
        }
      }

      .actions {
        margin: 8px 0;

        button {
          padding: 4px 12px;
          font-size: 1.8rem;
          border-radius: var(--border-radius);
          transition: 0.3s;
          outline: 3px solid transparent;
          outline-offset: 3px;
          background-color: transparent;

          i {
            margin-right: 8px;
          }
        }
        .save {
          border: 3px solid var(--primary-color);
          color: var(--primary-color);
          &:hover {
            outline-color: var(--primary-color);
            color: var(--white-color);
            background-color: var(--primary-color);
          }
        }

        .delete {
          border: 3px solid var(--detele-comic);
          color: var(--detele-comic);
          &:hover {
            outline-color: var(--detele-comic);
            color: var(--white-color);
            background-color: var(--detele-comic);
          }
        }
      }

      .author,
      .updated-at,
      .categorys,
      .content {
        display: flex;
        gap: 12px;
        align-items: center;
        flex-wrap: wrap;
        font-size: 2rem;
        font-weight: 600;
        color: var(--primary-color);

        li {
          font-size: 1.8rem;
          font-weight: 400;
          color: var(--black-color);
        }
      }

      .content {
        flex-direction: column;
        align-items: flex-start;
        gap: unset;
      }

      .author > span,
      .categorys > span {
        font-size: 2rem;
        font-weight: 600;
        color: var(--primary-color);
        white-space: nowrap;
      }

      .updated-at > span,
      .content > p {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--black-color);
      }

      .categorys li {
        padding: 2px 4px;
        background-color: var(--primary-color);
        color: var(--white-color);
        border-radius: var(--border-radius);
        cursor: pointer;
        outline-offset: 3px;
        outline: 3px solid transparent;
        transition: outline-color 0.3s;
        font-size: 1.6rem;

        &:hover {
          outline-color: var(--primary-color);
        }
      }
    }
  }

  .chapter-wrapper {
    margin-top: 32px;

    h4 {
      font-size: 3rem;
    }

    .search-chapter {
      margin: 12px 0 24px 0;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 12px;
      border-radius: var(--border-radius);
      border: 2px solid #e7e7e7;
      transition: 0.3s;

      &:focus-within {
        border-color: var(--primary-color);
      }

      input {
        width: 100%;
        height: 40px;
        padding-left: 12px;
        font-size: 1.6rem;
        border: none;
        outline: none;
      }
    }

    .chapters {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      li {
        width: calc(10% - 11px);

        @media (max-width: 768px) {
          width: calc(25% - 9px);
        }

        a {
          text-align: center;
          display: block;
          font-size: 1.6rem;
          outline: 3px solid transparent;
          outline-offset: 3px;
          background-color: var(--primary-color);
          padding: 8px;
          color: var(--white-color);
          border-radius: var(--border-radius);
          transition: 0.3s;

          @media (max-width: 768px) {
            font-size: 1.4rem;
          }

          &:hover {
            outline-color: var(--primary-color);
          }
        }
      }
    }
  }
}
