.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;

  button {
    background-color: var(--primary-color);
    padding: 8px 16px;
    border-radius: var(--border-radius);
    color: var(--white-color);
    transition: 0.3s;
    outline: 3px solid transparent;
    outline-offset: 3px;
    font-size: 2rem;

    &:hover {
      outline-color: var(--primary-color);
    }
  }

  .pagination {
    display: flex;
    gap: 12px;

    li {
      border-radius: var(--border-radius);
      padding: 8px 16px;
      outline-offset: 3px;
      outline: 3px solid transparent;
      height: 40px;
      font-weight: 600;
      transition: 0.3s;
      font-size: 1.8rem;
      border: 3px solid var(--primary-color);
      background-color: var(--white-color);
      color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;


      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
        outline-color: var(--primary-color);
      }
    }

    li.active {
        color: var(--white-color);
        background-color: var(--primary-color);
        outline-color: var(--primary-color);
    }
  }
}
