.wrapper {
    padding: 24px var(--padding-desktops);

    @media (max-width: 1023px) {
        padding: var(--padding-table);
    }

    @media (max-width: 768px) {
        padding: var(--padding-mobile);
    }
}